.fellowshipStats-container {
  color: black;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  font-weight: bold;
  padding-bottom: 1em;

  // color: rgba(255,255,255,0.8);
  // background-color: red;
}

// .stats span {
//   padding: 0.5em;
//   border-style: solid;
//   border-radius: 3px;
//   border-color: black;
//   box-shadow:
//   inset 1em 1em 3em rgb(23, 22, 22),
//   inset -1em -1em 3em rgb(194, 151, 71);
// }