@import '../../styles.scss';

.members-section {
  height: 100%;
  width: 50%;
  border: green;
  border-style: solid;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $base-color3;
  z-index: 10000;


  transition: 1s;
  transform: translateX(-95%);
}

.members-section.open {
  // width: 100%;
  transform: translateX(0);
}

.members-header {
  display: flex;
  justify-content: space-between;
  
  border:pink;
  border-style: solid;
}

.member {
  border:solid;
  border-style: red;
}