@import '../../styles.scss';

.members-section {
  height: 100%;
  width: 50%;
  // border: green;
  // border-style: solid;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $base-color3;
  z-index: 10000;


  transition: 1s;
  transform: translateX(-95%);
}

.members-section.open {
  // width: 100%;
  transform: translateX(0);
}

.members-header {
  display: flex;
  justify-content: space-between;
  
  // border:pink;
  // border-style: solid;
  border-bottom: solid;
}

.members-header span {
  padding: 5px;
}

.member {
  display: flex;
  flex-grow: 1;

  border-bottom: solid;
  border-right: solid;

  // border: red;
  // border-style: solid;
}

.member img {
  // flex-grow: 1;
  max-width: 100%;
  height: calc((100vh - 50px) / 8);
  object-fit: contain;
}