@import '../../styles.scss';

.members-section {
  min-height: 100%;
  width: $bp-tablet;
  // border: green;
  // border-style: solid;
  // overflow-y: scroll;
  overflow-y: auto;
  overflow-x: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  
  // background: $background-img;
  color: black;
  
  transition: 1s;
  // transform: translate(calc(-100% - 16px), -16px);
  transform: translateX(calc(-100%));
}

.members-section.open {
  // width: 100%;
  // transform: translate(-16px, -16px);
  transform: translateX(0px);
  position: absolute;
}

.members-header {
  display: flex;
  justify-content: space-between;
  
  // border:pink;
  // border-style: solid;
  border-bottom: solid;
  
  box-shadow:
      inset -0.25em -1em 0.5em rgb(0 0 0 / 30%),
      inset 0em 1em 1em rgb(0 0 0 / 30%),
}

.members-header span {
  padding: 3px;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  font-size: large;
}

.members-toggle {
  position: absolute;
  background: none;
  border: none;
  padding: 5px;
  z-index: 10001;
  color: rgb(0,0,0,1);

  // transform: translate(-16px, -16px);
  transition: 1s;
}

.members-toggle.open {
  // transform: translate(calc($bp-tablet - 41px), -16px);
  transform: translateX(calc($bp-tablet - 25px));
}

.member {
  display: flex;
  flex-grow: 1;

  border-bottom: solid;
  border-right: solid;

  box-shadow:
      inset -0.5em -3em 3em rgb(0 0 0 / 30%),
      inset 0em 3em 2em rgb(0 0 0 / 30%),
}

.member img {
  // flex-grow: 1;
  max-width: 100%;
  height: calc(((var(--vh) * 100) - 60px) / 9);
  object-fit: contain;

  min-height: 44px;

  box-shadow: 3px 0px 1em rgba(255,255,255,0.15);
}

.member-cell-3,
.member-cell-2 {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  align-items: center;
  justify-content: space-around;
  padding-left: 1em;
  padding-right: 1em;
}

.member-cell-3 {
  flex-grow: 1;
}

@media (max-width: $bp-tablet) {
  .members-section {
    width: 100%;
  }

  .members-toggle.open {
    // transform: translate(calc(100vw - 41px), -16px);
    transform: translateX(calc(100vw - 25px));
  }
}