.map-section {
  // height: auto;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.leaflet-container {
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgb(0,0,0,0.15);
}

div.leaflet-control-attribution.leaflet-control {
  visibility: hidden !important;
}