.map {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}

.map-section {
  // height: auto;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.leaflet-container {
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgb(0,0,0,0.15);
  background-color: rgba(255, 0, 0, 0.0);
}

div.leaflet-control-attribution.leaflet-control {
  visibility: hidden !important;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none;
}

a.leaflet-control-zoom-in:hover,
a.leaflet-control-zoom-out:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

div.leaflet-control-zoom {
  border: none !important;
}

h1 {
  font-size: 2rem;
  padding-bottom: 0.5em;
}